<section id="pricing" class="secondary-color text-center scrollto clearfix ">
  <div class="row clearfix">

    <div class="container">
      <div class=" center-form panel">
        <div class="panel-body">
          <h4 class="text-center"><i class="fa fa-user-plus"></i> Sign Up </h4>
          <form [formGroup]="signupForm" (ngSubmit)= "signup(signupForm.value)">
              <div class="form-group">
                  <input type="text" class="form-control input-lg form-names" formControlName="firstName" name="firstName" placeholder="Firstname">
                  <input type="text" class="form-control input-lg form-names" formControlName="lastName" name="lastName" placeholder="Lastname">
                  <span class="fa fa-user  form-control-icon"></span>
                  </div>
            <div class="form-group">
              <input type="text" class="form-control input-lg" formControlName="email" name="email" placeholder="Email">
              <span class="fa fa-at  form-control-icon"></span>
            </div>
            <div class="form-group">
                <input type="password" class="form-control input-lg" formControlName="password" name="password" placeholder="Password">
                <span class="fa fa-key form-control-icon"></span>
              </div>
              <button type="submit" [class.disabled]="!signupForm.valid" class="btn btn-success">Sign Up</button>
            <br />
            <p class="text-center">
              <small>Already have an Account?<a routerLink="/Login">Login</a></small>
            </p>
          </form>

        </div>
      </div>
    </div>

    </div>
    </section>
